@import url('fonts/fonts.css');
@import url('reset.css');

/* General Demo Style */
body{
	font-family:'Myriad Pro', Arial, sans-serif;
	font-size: 15px;
}

p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 10px 0px 10px;
    text-align: justify;
}

.box{
    border: 1px solid red;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    height: 200px;
}

.skill{
    margin-left: auto;
    margin-right: 0px;
}
.item{
    border: 1px solid blue;
}
.right{
    width: 49%;
    float: right;
}
.left{
    width: 49%;
}
.title{
    text-align: center;
    font-size: 40px;
}
.skills .level{
    width: 30px;
    height: 30px;
    padding: 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    border: 1px solid black;
}

.skills .plus:hover{    
    background: red;
}